
__pycache__/
*.py[cod]
*$py.class


*.so


.Python
build/
dist/
wheels/
*.egg-info/
*.egg


pip-log.txt
pip-delete-this-file.txt


.pytest_cache/
.coverage
htmlcov/


.venv/
env/
venv/
ENV/
env.bak/
venv.bak/


.idea/
.vscode/
*.swp
*~
.DS_Store



docs/_build/


.ipynb_checkpoints

*.log
*.sqlite3
*.sqlite
*.db
.env
.env.*
*.code-workspace

resp_jsons/
test_dataset/
app/datasets
*.csv
