services:


  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - fastapi_app
      - streamlit_frontend
    networks:
      - app-network
    restart: always


  redis:
    image: redis:7-alpine
    command: redis-server

    volumes:
      - redis_data:/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always


  fastapi_app:
    build:
      context: .
      dockerfile: ./app/Dockerfile

    command: uvicorn app.api:app --host 0.0.0.0 --port 8000
    expose:
      - 8000
    env_file:
      - .env
    volumes:
      - ./app_data/datasets:/usr/src/app/app/datasets
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network
    restart: always


  streamlit_frontend:
    build:
      context: .
      dockerfile: ./streamlit_app/Dockerfile
    # Running from root context
    command: streamlit run streamlit_app/home.py --server.port 8501 --server.enableCORS true
    expose:
      - 8501
    env_file:
      - .env
    networks:
      - app-network
    restart: always


  data_processing_queue:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    command: celery -A app.tasks worker --loglevel=info -P solo -Q data_processing_queue
    env_file:
      - .env
    volumes:
      - ./app_data/datasets:/usr/src/app/app/datasets
      - ./app_data/db/test.sqlite:/usr/src/app/test.sqlite
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network
    restart: always


  get_prompt_res_queue:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    command: celery -A app.tasks worker --loglevel=info -P gevent --concurrency 10 -Q get_prompt_res_queue
    env_file:
      - .env
    volumes:
      - ./app_data/datasets:/usr/src/app/app/datasets
      - ./app_data/db/test.sqlite:/usr/src/app/test.sqlite
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app-network
    restart: always

networks:
  app-network:
    driver: bridge

volumes:
  redis_data: